@import '../../../assets/media-queries.scss';

.section{
  position: relative;
  padding: var(--y-spacing) var(--x-spacing);
  background-color: hsl(var(--color-bg-alt));
}

.header{
  margin-bottom: var(--x-spacing);
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}